<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBzfIM3e3_q0Irtjk_dySB1yUVww5XDKg</string>
	<key>GCM_SENDER_ID</key>
	<string>184039791155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gauntletai.gray.messageai.ios</string>
	<key>PROJECT_ID</key>
	<string>shiny-pancake</string>
	<key>STORAGE_BUCKET</key>
	<string>shiny-pancake.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184039791155:ios:e3d63bd844f57e77382146</string>
	<key>DATABASE_URL</key>
	<string>https://shiny-pancake-default-rtdb.firebaseio.com</string>
</dict>
</plist>